
<div class="card shadow-sm my-3">
  <div class="card-header" id="headingOne">
    <div class="row">
      <div class="col">
        <h5 class="border-right">Project Name and Description</h5>
      </div>
      <div class="col">
        <p>Next Deadline</p>
      </div>
      <div class="col text-right">
        <button class="btn btn-success" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Open Details
        </button>
      </div>
    </div>
  </div>
  <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
    <div class="card-body text-center">
      <div class ="row my-1">
        <div class="col border-bottom">
          <p class="lead">Milestones</p>
        </div>
      </div>
      <div class ="row my-1">
        <div class="col border-bottom">
          <p class="lead">To Do</p>
        </div>
        <div class="col border-bottom">
          <p class="lead">Comments</p>
        </div>
      </div>
      <div class ="row my-1">
        <div class="col border-bottom">
          <p class="lead">Project History</p>
        </div>
      </div>
    </div>
  </div>
</div>
