body {
  padding-top: 5rem;
}
.starter-template {
  padding: 0rem 1.5rem;
  text-align: center;
}

.logoname {
  font-family: sans-serif;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}
